@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
body,
html {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: #fafafa;
    opacity: 1;
    color: #333;
}

select,
input,
button {
    display: block;
    margin: 15px auto;
    transition: all .2s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

select:focus,
input:focus,
button:focus {
    outline: none;
    border-color: #bbb;
}

select,
input {
    width: 100%;
    height: 32px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
}

select:not([disabled]) {
    cursor: pointer;
}

button {
    background-color: #585bca;
    color: white;
    border: none;
    width: 50%;
    border-radius: 20px;
    padding: 8px 0;
    cursor: pointer;
}

button:hover {
    background-color: #4A4C9D;
}

button[disabled] {
    opacity: 0.8;
    pointer-events: none;
}

.heading {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input {
    flex: 1 1 auto;
    margin: 0 5px;
}

.input-container label {
    white-space: nowrap;
}

.input-container.disabled {
    opacity: .75;
}

#error-container{
    margin-top : 5px;
}

#error-container label{
    color: red;
}

#app {
    width: 450px;
    position: relative;
    padding: 50px 60px;
    background-color: white;
    box-shadow: 0 20px 55px -18px rgba(0, 0, 0, .6);
    border-radius: 8px;
}

#brand {
    margin-top: 0;
}

#calculate {
    margin: 25px auto 0;
}

#prediction-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade-in .5s ease-in-out;
}

#prediction-container.hidden {
    display: none;
}

#prediction-container .heading {
    margin-bottom: 10px;
}

#prediction {
    font-size: 70px;
    margin-bottom: 5px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
